.astro-code {
  padding: 12px;
  border-radius: 9px;
  line-height: 1.5rem;
}

html {
  background: #292c3c;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

h1, h2, h3, h4, h5, h6, p, a, .date, li
{
  color: #c6d0f5;
}

a:hover {
  color: #ca9ee6;
}

a {
  text-decoration: none;
}

p > a {
  text-decoration: underline;
}

li {
  list-style-type: square;
}

.hero-image img {
	display: block;
  width: 75vw;
  max-height: 260px;
  border-radius: 9px;
  object-fit: cover;
  margin: 0 auto;
}

.last-updated-on {
	font-style: italic;
}
