.astro-code {
  padding: 12px;
  border-radius: 6px;
  line-height: 1.5rem;
}

html {
  background: #292c3c;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

h1, h2, h3, h4, h5, h6, p, a, .date
{
  color: #c6d0f5;
}

a:hover {
  color: #838ba7;
}

a {
  text-decoration: none;
}

p > a {
  text-decoration: underline;
  target: _blank;
}

.hero-image img {
	display: block;
  width: 70vw;
  max-height: 200px;
  border-radius: 8px;
  object-fit: cover;
  margin: 0 auto;
}

.last-updated-on {
	font-style: italic;
}
